@model UsuarioViewModel
    @{
        ViewBag.Title = "Actualizar";
    }

    <h2>
        <a style="float:right; color:deepskyblue" href="@Url.Action("Index", "Usuario")"><i class="fas fa-arrow-alt-circle-left"></i></a>
        Actualizar Usuario
    </h2>
    <hr />

    @using (Html.BeginForm("Actualizar", "Usuario", FormMethod.Post))
    {
        <div class="form-group">
            <label>ID del usuario</label>
            @Html.TextBoxFor(m => m.Usuarios.id_usuario, new { @class = "form-control", @required = "required", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Usuario</label>
            @Html.TextBoxFor(m => m.Usuarios.usuario, new { @class = "form-control", @required = "required", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            @Html.TextBoxFor(m => m.Usuarios.contrasena, new { @class = "form-control", @required = "required", @type = "password" })
        </div>

        <div class="form-group">
            <label>DPI</label>
            <select name="Usuarios.dpi" class="form-control" required>
                <option>Seleccione...</option>
                @foreach (var personas in Model.Personas)
                {
                    <option value="@personas.dpi" @(personas.dpi == Model.Usuarios.dpi ? "selected" : "")>@(personas.dpi + " - " + personas.nombre + " " + personas.apellido)</option>
                }
            </select>
            @*@Html.TextBoxFor(m => m.proyecto.nom_estado, new { @class = "form-control", @Value ="ING", @ReadOnly = "ReadOnly", @type = "hidden"})*@
        </div>

        <div class="form-group">
            <label>Rol</label>
            <select name="Usuarios.rol" class="form-control" required>
                <option>Seleccione...</option>
                @foreach (var Roles in Model.Roles)
                {
                    <option value="@Roles.rol1" @(Roles.rol1 == Model.Usuarios.rol ? "selected" : "")>@Roles.rol1</option>
                }
            </select>
            @*@Html.TextBoxFor(m => m.proyecto.nom_estado, new { @class = "form-control", @Value ="ING", @ReadOnly = "ReadOnly", @type = "hidden"})*@
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn-success" />
        </div>
    }

